<% # parameters: %>
<% #   list: a List model whose fields the form will map onto %>

<%= form_with model: list, id: dom_id(list), html: { class: "list-new" } do |form| %>
  <% if list.errors.any? %>
    <div class="notification is-danger is-light">
      <p><%= pluralize(list.errors.count, "error") %>:</p>
      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "List Name:", class: "label" %>
    <div class="control">
      <%= form.text_field :name, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :faction_category_id, "Faction Category:", class: "label" %>
    <div class="control">
      <%= form.collection_select :faction_category_id, FactionCategory.order(id: :asc), :id, :name, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :rules_level_id, "Rules Level:", class: "label" %>
    <div class="control">
      <%= form.collection_select :rules_level_id, RulesLevel.order(level: :asc), :id, :name, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :target_battle_value, "Target Battle Value:", class: "label" %>
    <div class="control">
      <%= form.number_field :target_battle_value, value: list.target_battle_value || 5000, min: 500, step: 500, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :default_gunnery_skill, "Default Pilot Gunnery Skill", class: "label" %>
    <div class="control">
      <%= form.number_field :default_gunnery_skill, value: list.default_gunnery_skill || 4, min: Rails.configuration.MIN_SKILL_VALUE, max: Rails.configuration.MAX_SKILL_VALUE, step: 1, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :default_piloting_skill, "Default Pilot Piloting Skill", class: "label" %>
    <div class="control">
      <%= form.number_field :default_piloting_skill, value: list.default_piloting_skill || 5, min: Rails.configuration.MIN_SKILL_VALUE, max: Rails.configuration.MAX_SKILL_VALUE, step: 1, class: "input" %>
    </div>
  </div>

  <div class="field era">
    <div class="button-set">
      <%= form.collection_radio_buttons :era_id, Era.order(start_year: :asc), :id, :name do |button| %>
        <%= content_tag :div, class: "choice-button" do %>
          <%= button.label do %>
            <%= image_tag("era_icons/#{image_filename_for_era(button.text)}") %>
            <%= button.text %>
            <%= button.radio_button %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit class: "button is-link", data: { turbo_frame: "_top" } %>
    </div>
    <% cancel_url = list.persisted? ? list_url(list) : lists_url %>
    <%= link_to("Cancel", cancel_url, class: "button", target: "_top") %>
  </div>
<% end %>
