<div id="list-entries" class="columns is-multiline">
  <%= render partial: "list_entries/list_entry", collection: @list.list_entries.order(id: :asc), locals: { compact: false } %>
</div>

<%= link_to "Add Mech", new_list_list_entry_url(@list), class: "button" %>
<%= link_to "Edit List", edit_list_url(@list), class: "button", data: { turbo_frame: "_top" } %>
<%= link_to "Back to Lists Index", lists_url, class: "button", data: { turbo_frame: "_top" } %>
