<%
    # Takes the following parameters:
    #   list: the List for the page
%>
<header class="hero is-primary is-small">
  <div class="hero-body">
    <div class="level">
      <div class="level-item">
        <p class="title"><%= list.name %></p>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Era</p>
          <p class="title"><%= list.era&.name || "All" %></p>
        </div>
      </div>

      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Faction Category</p>
          <p class="title"><%= list.faction_category&.name || "All" %></p>
        </div>
      </div>

      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Rules Level</p>
          <p class="title"><%= list.rules_level&.name || "All" %></p>
        </div>
      </div>

      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Default Pilot</p>
          <p class="title"><%= "#{list.default_gunnery_skill}/#{list.default_piloting_skill}" %></p>
        </div>
      </div>
    </div>
  </div>
</header>
