<section class="section">
  <header class="hero is-small">
    <div class="container">
      <p class="title">Edit <%= @list.name %></p>
    </div>
  </header>

  <%= turbo_stream_from "list" %>
  <%= turbo_frame_tag "list" do %>
    <%= render "list_form", list: @list %>
  <% end %>
</section>
