<section class="section">
  <header class="hero is-small">
    <div class="container">
      <p class="title">Latest Lists</p>
    </div>
  </header>
</section>

<section class="section">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Faction Category</th>
        <th>Era</th>
        <th>Rules Level</th>
        <th>Target Battle Value</th>
        <th>Created At</th>
        <th>Last Updated At</th>
      </tr>
    </thead>
    <tbody>
      <% @lists.each do |list| %>
        <tr>
          <td><%= link_to list.name, list_url(list) %></td>
          <td><%= list.faction_category&.name || "All" %></td>
          <td><%= list.era&.name || "All" %></td>
          <td><%= list.rules_level&.name || "All" %></td>
          <td><%= number_with_delimiter(list.target_battle_value, delimiter: ",") %> BV</td>
          <td><%= list.created_at.strftime("%b %e, %Y") %></td>
          <td><%= list.updated_at.strftime("%b %e, %Y") %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="8">
          <%= link_to "Create New List", new_list_url, class: "container" %>
        </td>
      </tr>
    </tbody>
  </table>
</section>
