<%= render partial: "list_page_header", locals: { list: @list } %>

<section class="main-list-show-section section">
  <%= render partial: "shared/battle_value_display" %>

  <%= turbo_frame_tag :list_show_main do %>
    <% render partial: "list_show_main" %>
  <% end %>
</section>
