<%= form_with url: new_list_list_entry_url(@list), method: :get do |form| %>
  <%= form.hidden_field :list_id, value: @list.id %>

  <div class="level">
    <span class="field">
      <label class="label" for="mech-chassis-filter-full-name">Name:</label>
      <span class="control">
        <input
          id="mech-chassis-filter-full-name"
          name="full_name_filter"
          class="input"
          type="text"
          value="<%= session[:full_name_filter] || "" %>"
        />
      </span>
    </span>

    <span class="field">
      <span class="control">
        <label class="label" for="mech-chassis-filter-role">Role:</span>
        <div class="select">
          <%= form.collection_select "role_id_filter", [Role.new] + Role.order(id: :asc).all.to_a, :id, :name, id: "mech-chassis-filter-role", selected: session[:role_id_filter] || "" %>
        </div>
      </span>
    </span>

    <span class="field">
      <span class="control">
        <label class="label" for="mech-chassis-filter-faction">Faction:</span>
        <div class="select">
          <%= form.collection_select "faction_id_filter", @faction_options_for_faction_filter, :id, :name, id: "mech-chassis-filter-faction", selected: session[:faction_id_filter] || "" %>
        </div>
      </span>
    </span>

    <span class="field">
      <span class="control">
        <label class="label" for="mech-chassis-filter-model-availability">Model Availability:</span>
        <div class="select">
          <select id="mech-chassis-filter-model-availability" name="model_availability_filter">
            <%= options_for_select({
              "All Mechs" => "",
              "Only mechs with a plastic model" => "plastic_model_exists",
              "Only mechs whose model Brent owns" => "plastic_model_owned",
            }, session[:model_availability_filter] || "") %>
          </select>
        </div>
      </span>
    </span>

    <span class="control">
      <%= form.submit "Apply Filters", class: "button" %>
    </span>

    <span class="control">
      <%= link_to "Cancel", list_url(@list), class: "button is-warning" %>
    </span>
  </div>
<% end %>
