<% # required parameters:
   #   list_entry: the ListEntry to display
   #
   # optional parameters:
   #   compact: whether to display just mech names instead of names, images, and stats; defaults to false
%>

<% mech = list_entry.mech_variant %>
<% battle_value = list_entry.battle_value %>
<% defined?(compact) or compact = false %>

<%= turbo_frame_tag dom_id(list_entry), class: "column is-3" do %>
  <div class="card list-entry">
    <header class="card-header">
      <p class="card-header-title"><%= mech.full_name %></p>
      <p class="subtitle"><%= mech.tonnage %> ton <%= mech.role.name %></p>
    </header>
    <% if !compact %>
      <div class="card-content">
        <div class="card-image">
          <figure class="image">
            <% chassis_image_url = asset_url(url_for(mech.chassis.image)) %>
            <%= image_tag chassis_image_url, alt: mech.full_name %>
          </figure>
        </div>
        <div class="list_entry_equipment_list">
          <ul>
            <% weapon_list_for_mech(mech).each do |weapon_description| %>
              <li><%= weapon_description %></li>
            <% end %>
            <% non_weapon_equipment_list_for_mech(mech).each do |equipment_description| %>
              <li><%= equipment_description %></li>
            <% end %>
          </ul>
        </div>
        <hr>
        <div class="level">
          <div class="level-item">
            <p><%= battle_value.gunnery_skill %>/<%= battle_value.piloting_skill %> pilot</p>
          </div>
          <div class="level-item">
            <p><%= number_with_delimiter(battle_value.battle_value, delimiter: ",") %> BV</p>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <%= link_to edit_list_entry_url(list_entry, type: "gunnery"), class: "card-footer-item danger" do %>
            <%= fa_icon "crosshairs" %>
        <% end %>
        <%= link_to edit_list_entry_url(list_entry, type: "piloting"), class: "card-footer-item danger" do %>
            <%= fa_icon "user" %>
        <% end %>
        <div class="card-footer-item">
          <%= button_to "X", list_entry_url(list_entry), method: :delete, class: "button is-danger is-inverted" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
