<%= render "filter_controls" %>
<section class="component-mech-picture-list section">
  <%= render partial: "mech_chassis_card", collection: @chassis_on_this_page %>
</section>
<%= render "pagination" %>
