<% chassis = mech_chassis_card %>
<%= link_to mech_variants_url(mech_chassis_id: chassis.id, list_id: @list.id, chassis_page: @page), class: "component-mech-picture-list-card" do %>
  <% display_name = chassis.name %>
  <% tonnages = chassis.mech_variants.map(&:tonnage).uniq %>
  <% chassis_image_url = asset_url(url_for(chassis.image)) %>
  <% if chassis.clan_name %>
  <%   display_name += " (#{chassis.clan_name})" %>
  <% end %>
  <%= image_tag chassis_image_url, alt: display_name, class: "component-mech-picture-list-card-image" %>
  <%= content_tag :h2, "#{display_name} #{tonnages.join("/")} tons", class: "component-mech-picture-list-card-title" %>
<% end %>
