<section id="new_list_entry_flash" class="section">
  <% if @list_entry.errors.any? %>
    <div class="notification is-danger is-light">
      <p><%= pluralize(@list_entry.errors.count, "error") %>:</p>
      <ul>
        <% @list_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</section>
