<% num_page_links = 15 %>

<% if @total_pages <= num_page_links %>
<%   link_page_range = (1..@total_pages) %>
<% elsif (@page - num_page_links/2) <= 1 %>
<%   link_page_range = (1..num_page_links) %>
<% elsif @page > (@total_pages - num_page_links/2) %>
<%   link_page_range = ((@total_pages - num_page_links)..@total_pages) %>
<% else %>
<%   half_range = num_page_links/2 %>
<%   link_page_range = ((@page - half_range)..(@page + half_range)) %>
<% end %>

<nav class="component-pagination" role="navigation" aria-label="pagination">
  <%= link_to "Previous",
    new_list_list_entry_url(@list, page: @page - 1),
    class: "pagination-previous",
    disabled: @page == 1 %>
  <%= link_to "Next Page",
    new_list_list_entry_url(@list, page: @page + 1),
    class: "pagination-next",
    disabled: @page == @total_pages %>
  <ul class="pagination-list">
    <% if link_page_range.first != 1 %>
      <li>
        <%= link_to "Go to page 1",
          new_list_list_entry_url(@list, page: 1),
          class: "pagination-link",
          aria: { label: "Go to page 1" } %>
      </li>
    <% end %>
    <% if link_page_range.first > 2 %>
      <li>
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
    <% end %>

    <% link_page_range.each do |page_num| %>
    <%   extra_class = (page_num == @page ? "is-current" : "") %>
      <li>
        <%= link_to page_num,
          new_list_list_entry_url(@list, page: page_num),
          class: "pagination-link #{extra_class}",
          aria: { label: "Go to page #{page_num}" } %>
      </li>
    <% end %>

    <% if link_page_range.last != @total_pages %>
      <li>
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
      <li>
        <%= link_to @total_pages,
          new_list_list_entry_url(@list, page: @total_pages),
          class: "pagination-link",
          aria: { label: "Go to page #{@total_pages}" } %>
      </li>
    <% end %>
  </ul>
</nav>
