<%= turbo_stream.replace "list_show_main" do %>
  <%= turbo_frame_tag :list_show_main do %>
    <%= render partial: "lists/list_show_main" %>
  <% end %>
<% end %>

<%= turbo_stream.replace "bv_display" do %>
  <%= render partial: "shared/battle_value_display" %>
<% end %>
