<% mech = @list_entry.mech_variant %>

<%= turbo_frame_tag dom_id(@list_entry), class: "column is-3" do %>
  <%= form_with model: @list_entry, id: dom_id(@list_entry) do |form| %>
    <div class="card list-entry">
      <header class="card-header">
        <div class="level">
          <div class="level-item">
            <p class="card-header-title"><%= mech.full_name %></p>
          </div>
          <div class="level-item">
            <p><%= mech.tonnage %> ton <%= mech.role.name %></p>
          </div>
        </div>
      </header>
      <div class="card-content">
        <div class="field">
          <% if @type == "gunnery" %>
            <%= form.label :battle_value_id, "Gunnery Skill:", class: "label" %>
          <% else %>
            <%= form.label :battle_value_id, "Piloting Skill:", class: "label" %>
          <% end %>
          <div class="control">
            <% if @type == "gunnery" %>
              <%= form.collection_select :battle_value_id, @battle_values, :id, ->(bv) { "#{bv.gunnery_skill} (#{sprintf("%+d", bv.battle_value - @list_entry.battle_value.battle_value)} BV)" }, class: "input" %>
            <% else %>
              <%= form.collection_select :battle_value_id, @battle_values, :id, ->(bv) { "#{bv.piloting_skill} (#{sprintf("%+d", bv.battle_value - @list_entry.battle_value.battle_value)} BV)" }, class: "input" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="card-footer-item">
          <%= form.submit "Submit", class: "button is-ghost" %>
        </div>
        <%= link_to "Cancel", list_entry_url(@list_entry), class: "card-footer-item" %>
      </div>
    </div>
  <% end %>
<% end %>
