<%= turbo_frame_tag :list_show_main do %>
  <div id="list-entries" class="columns is-multiline">
    <%= render partial: "list_entries/list_entry", collection: @list.list_entries, locals: { compact: true } %>
  </div>

  <%= render "mech_chassis_table" %>
<% end %>
