<%= turbo_stream.replace dom_id(@list_entry) do %>
  <%= render partial: "list_entry", locals: { list_entry: @list_entry } %>
<% end %>

<%= turbo_stream.replace "bv_display" do %>
  <%= render partial: "shared/battle_value_display" %>
<% end %>
