<% 
    current_battle_value = @list.battle_values.map do |battle_value|
      battle_value.battle_value
    end.sum(0)
%>

<div id="bv_display">
  <span class="bv_display_text">
    <%= tag.h4 "#{number_with_delimiter(current_battle_value)} / #{number_with_delimiter(@list.target_battle_value)} BV", class: "title is-4" %>
    <%= tag.h4 "#{number_with_delimiter(battle_value_remaining(@list))} BV remaining", class: "subtitle is-4" %>
  </span>
  <span class="bv_display_meter">
    <%= tag.meter value: current_battle_value, min: 0, max: [@list.target_battle_value, current_battle_value].max, high: @list.target_battle_value, optimum: 1, class: "progress" %>
  </span>
</div>
