.list-entry .image img {
	height: 350px;
	object-fit: contain;
}

.list-entry .card-header {
	flex-wrap: wrap;
}

.list-entry .card-header .card-header-title {
	/* Bulma didn't anticipate the card title having a subtitle on a line
	 * beneath it, and the vertical padding Bula adds to the card title creates
	 * an uncomfortable space between the title and subtitle, so disable it */
	padding-bottom: 0;
}

.list-entry .card-header .subtitle {
	flex-basis: 100%;
	font-style: italic;
	padding: 0 1rem 0.5rem 1rem;
	font-size: 90%;
}

.list-entry .list_entry_equipment_list ul {
	margin-top: 1rem;
	display: flex;
	flex-flow: row wrap;
	column-gap: 0.3rem;
	align-content: center;
}

.list-entry .list_entry_equipment_list li {
	flex: 1 0 auto;
	list-style: disc inside;
}

.list-entry .button.is-danger.is-inverted {
	font-weight: bold;
	background-color: transparent;
}

.list-entry .button.is-danger.is-inverted:hover {
	color: darkred;
}
