.component-mech-full-details {
	z-index: 1;
	position: relative;
	/* margin: $default_spacing; */
}

.component-mech-full-details .category-icon {
	/* margin: $default_spacing / 2; */
	position: absolute;
	top: 0;
	right: 0;
}

.component-mech-full-details .subtitle {
	margin-bottom: 0;
}

.component-mech-full-details .section {
	padding-bottom: 0;
}

.component-mech-full-details .background-image {
	position: absolute;
	opacity: 0.4;
	top: 50px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: -1;
}
