.list-new > header {
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	margin-top: 1.5em;
}

.list-new .era .button-set {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

.list-new .era .choice-button {
	font-size: 1.1rem;
	padding: 12px;
	flex: 0 1 30%;
	margin: 6px;
	border: 2px solid black;
	border-radius: 0.4rem;
}

.list-new .era .choice-button img {
  height: 4rem;
  vertical-align: middle;
  display: block;
  margin: auto;
}

.list-new .era .choice-button img.selected {
  border-style: inset;
}

.list-new .submit {
	text-align: center;
}

.list-new .submit button {
	font-size: 150%;
	padding: 0.75em 1.5em;
}
