.component-mech-table-list-container {
	position: relative;
}

.component-mech-table-list-background {
	pointer-events: none; /* this element will block links without this */
	opacity: 0.15;
	height: 100%;
	width: 100%;
	position: absolute;
	background-repeat:no-repeat;
	background-position: top center;
}

.component-mech-table-list {
	text-align: center;
	/* padding-top: $default_spacing; */
}

.component-mech-table-list .table {
	background-repeat:no-repeat;
	background-position: center center;
}

.component-mech-table-list .component-mech-table-list-empty-placeholder {
	text-align: center;
	height: 4rem;
	vertical-align: middle;
}
