.component-mech-picture-list {
	text-align: center;
	/* padding-top: $default_spacing; */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.component-mech-picture-list > * {
	width: 24%;
	position: relative;
}

.component-mech-picture-list-card {
	cursor: pointer;
}

.component-mech-picture-list-card-title {
	font-weight: bold;
	position: absolute;
	right: 0;
	top: 0;
}

.component-mech-picture-list-card-image {
	object-fit: cover;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
