.component-mech-list-card.over-budget {
	color: grey;
}

.component-mech-list .component-mech-list-card-add-to-list-column {
	text-align: center;
	vertical-align: middle;
}

.component-mech-list-card-add-to-list-column .button {
	width: 100%;
	vertical-align: middle;
}
