<%
  # parameters:
  #   mech_variants
%>

<section class="component-mech-table-list section">
  <table class="table is-striped is-narrow is-fullwidth is-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tonnage</th>
        <th>Role</th>
        <th>Weapons</th>
        <th>Heat Sinks</th>
        <th>Equipment</th>
        <th>Armor (Front/Rear)</th>
        <th>Movement</th>
        <th>Jumping</th>
        <th>Add to List</th>
      </tr>
    </thead>
    <tbody>
      <% if mech_variants.empty? %>
        <tr>
          <td colSpan="9" class="component-mech-table-list-empty-placeholder">
            No mechs match the current filters.
          </td>
        </tr>
      <% else %>
        <%= render partial: "mech_variant_table_row", collection: mech_variants %>
      <% end %>
    </tbody>
  </table>
</section>
