<% mech = mech_variant_table_row %>
<tr class="component-mech-list-card">
  <td>
    <%
      # TODO: implement link to mech show page
      #<Link to={`/mechs/${props.id}`}>
      #  {props.fullName}
      #</Link>
    %>
    <%= mech.full_name %>
  </td>
  <td><%= mech.tonnage %> tons</td>
  <td><%= mech.role&.name || "None" %></td>
  <td>
    <ul>
      <% weapon_list_for_mech(mech).each do |weapon_description| %>
        <li><%= weapon_description %></li>
      <% end %>
    </ul>
  </td>
  <td>
    <%= mech.heat_sinks %>
  </td>
  <td>
    <ul>
      <% mech.mech_equipment.select { |mech_equipment| !mech_equipment.equipment.weapon }.each do |mech_equipment| %>
      <%  text = mech_equipment.equipment.name %>
      <%  if mech_equipment.count > 1 %>
      <%    text += " x#{mech_equipment.count}" %>
      <%  end %>
        <li><%= text %></li>
      <% end %>
    </ul>
  </td>
  <td>
    <% total_armor = mech.front_armor + mech.rear_armor %>
    <%= "#{total_armor} (#{mech.front_armor}/#{mech.rear_armor})" %>
  </td>
  <td>
    <% running_mp = (mech.walking_mp * 1.5).ceil %>
    <%= "#{mech.walking_mp}/#{running_mp}" %>
  </td>
  <td>
    <%= "#{mech.jumping_mp == 0 ? "-" : mech.jumping_mp}" %>
  </td>
  <td class="component-mech-list-card-add-to-list-column">
    <% battle_value = battle_value_for_mech_variant(mech, @list.default_gunnery_skill, @list.default_piloting_skill) %>
    <% list_entry = ListEntry.new(list: @list, battle_value: battle_value) %>
    <%= form_with model: list_entry, url: list_list_entries_url(@list) do |form| %>
      <%= form.hidden_field :list_id %>
      <%= form.hidden_field :battle_value_id %>
      <%
        bv_remaining_after_purchase = battle_value_remaining(@list) - battle_value.battle_value
        link_color = if bv_remaining_after_purchase >= 0
                       "is-primary"
                     else
                       "is-danger"
                     end
      %>
      <%= form.submit "#{number_with_delimiter(battle_value.battle_value, delimiter: ",")} BV", class: "button #{link_color} is-light" %>
    <% end %>
  </td>
</tr>
