<%= turbo_frame_tag :list_show_main do %>
  <section class="section">
    <div class="component-mech-table-list-container">

      <% chassis_image_url = asset_url(url_for(@mech_chassis.image)) %>
      <%= content_tag :div, class: "component-mech-table-list-background", style: "background-image: url(#{chassis_image_url})"  do %>
      <% end %>

      <div class="container"><%= link_to "Back to Chassis List", new_list_list_entry_url(@list, page: @chassis_page), class: "button is-info", style: "display: block; margin-left: auto; margin-right: auto;" %></div>
    
      <%= render partial: "mech_variant_table", locals: { mech_variants: @mech_variants } %>
    </div>
  </section>
<% end %>
