<% flash.each do |type, content| %>
  <% alert_class = case type %>
  <% when "alert" %>
  <%   "is-danger" %>
  <% when "notice" %>
  <%   "is-info" %>
  <% else %>
  <%   "is-primary is-light" %>
  <% end %>
  <%= content_tag(:div, class: "notification #{alert_class}") do %>
    <% if content.is_a? Array %>
      <ul>
      <% content.each do |line| %>
        <li><%= line %></li>
      <% end %>
      </ul>
    <% else %>
      <%= content %>
    <% end %>
  <% end %>
<% end %>
